# Load Data

In [0]:
import pandas as pd
import numpy as np
import plotly.express as px

In [0]:
!wget https://www.mlgraz.at/course_files/week3/avocado.csv

--2020-04-07 18:08:13--  https://www.mlgraz.at/course_files/week3/avocado.csv
Resolving www.mlgraz.at (www.mlgraz.at)... 81.19.159.92
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1989197 (1.9M) [text/csv]
Saving to: ‘avocado.csv.1’

avocado.csv.1       100%[===================>]   1.90M  1.73MB/s    in 1.1s

2020-04-07 18:08:15 (1.73 MB/s) - ‘avocado.csv.1’ saved [1989197/1989197]

In [0]:
df = pd.read_csv('avocado.csv')

In [0]:
df.Date = pd.to_datetime(df.Date)

In [0]:
print('Mean: ',df['4770'].mean())
print('Median: ',df['4770'].median())
print('std: ',df['4770'].std())
print('min: ',df['4770'].min())
print('max: ',df['4770'].max())

Mean:  22839.735992657315
Median:  184.99
std:  107464.06843537689
min:  0.0
max:  2546439.11

# Histogram

**make a Histogram of prices for conventional avocados**

**make a Histogram of prices for organic avocados**
Q

**Stack Conventional and Organic Histogram Plots**

## Boxplot

**Make a boxplot for conventional Avocados(AveragePrice)**

**Create a boxplot for the prices of the organic avocados** Q

**Create a stacked boxplot for all the types of avocados**

# Lineplot

**Plot line plot (Date and Price) for conventional avocados**

**What is Groupby?**

**Create a Line plot (Date, AveragePrice). Take the mean of entry, grouped by date and type. Plot only for conventional avocados**

**Ok, now do the same for organic.** q

**Finally, create a stacked line plot for both types**

# Barplot

**Create a df "df_2017" where you take all value in the year 2017** Q

Tip: Use column name "year"

How many rows are there in df_2017?

**Now Groupby "region" and "type" on df_2017. Calculate the mean of the "AveragePrice" column. Reset the index and save it in a variable called "df_2017_region_price".**

**How many rows and columns does "df_2017_region_price" have?**

In [0]:
city_name = ['NewYork', 'LosAngeles', 'Chicago','Houston', 'Denver', 'Philadelphia', 'Seattle', 'SanDiego', 'SanFrancisco', 'Seattle']

**Create a new df with only the cities in "city_name"**

**Plot a barchart ("region" and "AveragePrice") with the new data frame. Plot only from the conventional avocados.**

**Now do the same with the organic ones**

**Now stack the two barplots**

# Scatterplot

**Make a scatter plot ("AveragePrice",  "Total Volume") for the conventional avocados in San Francisco**

**Make a scatter plot ("AveragePrice",  "Total Volume") for the organic avocados in Houston**

**Stack the Houston and San Francisco Scatterplots (organic avocados)**

# Don't stop here! Continue Exploring