![alt text](https://secure.meetupstatic.com/photos/event/c/9/7/a/600_487911578.jpeg)

# Assignment 3

You joined Daldi GmbH as a junior data scientist. Daldi GmbH is a supermarket chain in Austria. You need to prove that hiring a data scientist in their company was a good idea. Your manager has provided you with the following dataset (daldi_sales.csv).
You will have to present your results to the CEO. You are free to explore the data, as you wish. If you need a starting point, your Manager recommends answering the following question:

What is the most profitable Chain/City?

How effective is our Membership Program?

Which products are most succesful among women/men?


**Description Data**


invoice_id: Computer generated sales slip invoice identification number

branch: Branch of supercenter (3 branches are available identified by A, B and C).

city: Location of supercenters

customer_type: Type of customers, recorded by Members for customers using member card and Normal for without member card.

gender: Gender type of customer

product_type: General item categorization groups - Electronic accessories, Fashion accessories, Food and beverages, Health and beauty, Home and lifestyle, Sports and travel

unit_price: Price of each product in €

quantity: Number of products purchased by customer


total: Total price including tax

Payment: Payment used by customer for purchase (3 methods are available – Cash, Credit card and Ewallet)

Profit: profit in €

customer_rating: Customer stratification rating on their overall shopping experience (On a scale of 1 to 10)

**Submission**

For submission, either prepare a 5 min Powerpoint or a .ipynb (Google Collab) file with a description of the things done.

**To download the Google Collab, Press:**


File > Download .ipynb

**Upload Here your Solutions**
[https://forms.gle/Ngf9W6ebcB2x2wNF8](https://forms.gle/Ngf9W6ebcB2x2wNF8)

# Download and Load Data

In [0]:
import pandas as pd
import numpy as np
import plotly.express as px

In [0]:
!wget http://mlgraz.at/course_files/week3/daldi_sales.csv

--2020-04-11 17:03:55--  http://mlgraz.at/course_files/week3/daldi_sales.csv
Resolving mlgraz.at (mlgraz.at)... 81.19.159.92
Connecting to mlgraz.at (mlgraz.at)|81.19.159.92|:80... connected.
HTTP request sent, awaiting response... 302 Found
Location: http://www.mlgraz.at/course_files/week3/daldi_sales.csv [following]
--2020-04-11 17:03:56--  http://www.mlgraz.at/course_files/week3/daldi_sales.csv
Resolving www.mlgraz.at (www.mlgraz.at)... 81.19.159.92
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://www.mlgraz.at/course_files/week3/daldi_sales.csv [following]
--2020-04-11 17:03:57--  https://www.mlgraz.at/course_files/week3/daldi_sales.csv
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 86054 (84K) [text/csv]
Saving to: ‘daldi_sales.csv’

daldi_sales.csv     100%[===================>]  84.04K   153KB/s    in 0.5s

2020-04-11 17:03:59 (153 KB/s) - ‘daldi_sales.csv’ saved [86054/86054]

In [0]:
df = pd.read_csv("daldi_sales.csv")

In [0]:
df.head()

    invoice_id branch      city  ...      payment profit customer_rating
0  750-67-8428      A    Vienna  ...      Ewallet  26.14             9.1
1  226-31-3081      C  Salzburg  ...         Cash   3.82             9.6
2  631-41-3108      A    Vienna  ...  Credit card  16.22             7.4
3  123-19-1176      A    Vienna  ...      Ewallet  23.29             8.4
4  373-73-7910      A    Vienna  ...      Ewallet  30.21             5.3

[5 rows x 12 columns]

# Good Luck!