![alt text](https://secure.meetupstatic.com/photos/event/c/9/7/a/600_487911578.jpeg)

Week 4 Assignment

Data Scientist are Sexy. But to maintain it, we need skincare products!
This week we will explore a dataset from Sephora with skincare products.
Your tasks is to predict if a product is HOT or NOT.
We will determine this by the rating column.

We provided 2 dataframe: Train and Test. Notice that the test doesn't have the column "rating". 

You tasks is to build a model which predicts the rating of the test data (binary classification). Use the train dataset for training the model.
You are free to use any model.


Submit your ipynb on Google Forms.
[https://forms.gle/qJzy4S1RadiFtdu3A](https://forms.gle/qJzy4S1RadiFtdu3A)

In [9]:
!pip install rfpimp

Requirement already satisfied: rfpimp in /usr/local/lib/python3.6/dist-packages (1.3.4)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from rfpimp) (1.18.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from rfpimp) (1.0.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from rfpimp) (3.2.1)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from rfpimp) (0.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->rfpimp) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->rfpimp) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->rfpimp) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->rfpimp) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->rfpimp) (0.10.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->rfpimp) (0.22.2.post1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->rfpimp) (1.12.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->rfpimp) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->rfpimp) (0.14.1)

In [2]:
!wget https://www.mlgraz.at/course_files/week4/train.csv

--2020-04-19 17:03:30--  https://www.mlgraz.at/course_files/week4/train.csv
Resolving www.mlgraz.at (www.mlgraz.at)... 81.19.159.92
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 867803 (847K) [text/csv]
Saving to: ‘train.csv’

train.csv           100%[===================>] 847.46K  1.43MB/s    in 0.6s

2020-04-19 17:03:31 (1.43 MB/s) - ‘train.csv’ saved [867803/867803]

In [3]:
!wget https://www.mlgraz.at/course_files/week4/test.csv

--2020-04-19 17:03:37--  https://www.mlgraz.at/course_files/week4/test.csv
Resolving www.mlgraz.at (www.mlgraz.at)... 81.19.159.92
Connecting to www.mlgraz.at (www.mlgraz.at)|81.19.159.92|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 104445 (102K) [text/csv]
Saving to: ‘test.csv’

test.csv            100%[===================>] 102.00K   298KB/s    in 0.3s

2020-04-19 17:03:37 (298 KB/s) - ‘test.csv’ saved [104445/104445]

In [0]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from  sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_validate
from  sklearn.metrics import *
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn import model_selection
import plotly.express as px

In [5]:
import rfpimp

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.ensemble.forest module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.

In [0]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [7]:
df_train.head()

   Unnamed: 0           brand  ... limited_time_offer likes
0           0  Acqua Di Parma  ...                  0  3002
1           1  Acqua Di Parma  ...                  0  2700
2           2  Acqua Di Parma  ...                  0  2600
3           4  Acqua Di Parma  ...                  0   943
4           5  Acqua Di Parma  ...                  0  2600

[5 rows x 15 columns]

In [8]:
df_test.head()

   Unnamed: 0         brand  ... limited_time_offer  likes
0        3941    Jack Black  ...                  0    311
1        3064         Fresh  ...                  0   5100
2        8281      TOM FORD  ...                  0    897
3        6413  Perricone MD  ...                  0  11600
4        1302      Caudalie  ...                  0      0

[5 rows x 14 columns]